body {
    background-color: crimson;
    text-align: center; 
    align-items: center;  
    justify-content: center; 
    align-self: center;
}


h1 {
    font-family: Serif, arial, trebuchet;
    color: white;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

div {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;

}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
    align-items: center;
    align-items: center;
    display: absolute;
    left: 50% ;
    right: 50%;
 
    
}

#frmMenu {
    width: 600px;
    height: 200px;
    align-content: center;
    align-self: center;
    align-items: center;
    text-align: center;
    left:0
    
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;

}

.left {
    width: 200px;
    height: 200px;
   float: left;

}

.right {
    width: 200px;
    height: 200px;
    float: right;

}

.center {
    width: 200px;
    height: 200px;
    float: left;

    
}



#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;

}

#cart {
    top: 0;margin: 0px auto;
    width: 100ox;
    height:  200;

}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px; 
    height: 40px;

}